:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #212121;
  --secondary-color: #757575;
  --hero-color: #ffffff;
  --accent-color-blue: #2196f3;
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  font-style: normal; /* Убираем курсив на ссылках */
}
li {
  list-style-type: none; /* Убираем маркеры */
}
body {
  font-family: var(--main-font);
}

/*========= "Логотип" ========*/

.logo-text {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-text-accent {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color-blue);
}
/*==== Логотип на темном фоне=====*/
.light-theme {
  color: var(--hero-color);
  background: #2f303a;
}

/*========= Конец "Логотип" ========*/

/*==== "Главная навигация" ====*/
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color-blue);
}

.address-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.address-mail:hover,
.address-mail:focus {
  color: var(--accent-color-blue);
}

.address-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

/*==== Конец "Главная навигация" ====*/

/*==== "Герой" ====*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: var(--hero-color);*/
}

.hero-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /*color: var(--hero-color);*/
}

/*==== Конец "Герой" ====*/

/*==== "Особенности" ====*/
.special-list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.special-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
/*==== Конец "Особенности" ====*/

/*==== "Вид деятельности" ====*/
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/*==== Конец "Вид деятельности" ====*/

/*==== "Наша команда" ====*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.team-name-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*==== Конец "Наша команда" ====*/

/*==== "Подвал" ====*/
.footer-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /*color: var(--hero-color);*/
}
.footer-mail {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
}
.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /*color: rgba(255, 255, 255, 0.6);*/
}
/*==== Конец "Подвал" ====*/

/*==== Страница "Портфолио" ====*/

.filter-list-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font);
}

.projects-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.projects-text-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.185;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*==== Конец Страница "Портфолио" ====*/
